body {
	background-color: rgb(238, 218, 180);
}
.wrapper {
	max-width: 100vw;
	min-height: 100%;
	overflow: hidden;
}

.page {
	max-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

